<h2>Mis ciudades preferidas</h2>
<ul>
  <li *ngFor="let city of cities">
    <button (click)="onCitySelected(city)">{{ city }}</button>
    <button (click)="removeCity(city)">X</button>
  </li>
</ul>

<h2>Detalles del tiempo</h2>
<div *ngIf="selectedCity">
  <h3>{{ selectedCity }}</h3>
  <p>Temperatura: {{ weather?.main?.temp }} °C</p>
  <img
    *ngIf="weather"
    [src]="
      'https://openweathermap.org/img/wn/' + weather.weather[0].icon + '.png'
    "
    alt="icon"
  />
  <p>Descripción: {{ weather?.weather[0]?.description }}</p>
  <!-- Aquí podrías incluir un mapa de Google Maps mostrando la ciudad -->
</div>
